html, body, #app, page {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #F7F7F7;
}

.m-page {
  width: 100%;
  padding-bottom: var(--safe-area-inset-bottom);
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.content-center {
  align-content: center;
}
.content-start {
  align-content: flex-start;
}
.content-end {
  align-content: flex-end;
}
.content-between {
  align-content: space-between;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.rounded-full {
  border-radius: 100%;
}
